<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--<dubbo:annotation package="tv.acframework.qos.collector.dubbo"/>-->
	<!-- dubbo连接配置 -->
	<dubbo:application name="im-cas-user-service-test" />
	<!--<dubbo:registry address="multicast://224.5.6.7:1234" protocol="dubbo"/>-->
	<dubbo:registry address="192.168.60.205:2181,192.168.60.205:2182,192.168.60.205:2183" protocol="zookeeper"/>

	<dubbo:consumer check="true" timeout="10000" retries="1" />
	<!-- 消费配置 -->
	<!-- 此处说明需要调用的接口 -->
	<!--<import resource="classpath*:ac-user-dubbo-consumer.xml"/>-->
	<dubbo:reference id="acUserService" interface="tv.acfun.im.cas.user.service.AcUserService" version="1.0.0"/>

</beans> 